.customers {
  padding-top: 94px 0;
}

.customers-list {
  display: flex;
  margin-top: 50px;
}

.customers-list li,
.customers-list li svg {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid var(--color-white-gray);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list li a:hover svg,
.customers-list li a:focus svg {
  fill: var(--color-blue);
}

.customers-list li a:focus,
.customers-list li a:hover {
  border: 1px solid var(--color-blue);
}

.customers-list li:not(:last-child) {
  margin-right: 30px;
}
