/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
svg {
  fill: var(--color-white-gray);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}
/*reset*/
:root {
  --color-white: #ffffff;
  --color-blue: #2196f3;
  --color-black: #212121;
  --color-gray: #757575;
  --color-night: #2f303a;
  --color-blue-gray: #f5f4fa;
  --color-white-gray: #afb1b8;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--color-blue);
}
.color__black {
  color: var(--color-black);
}
.color__white {
  color: var(--color-white);
}

/*header*/
.header {
  background-color: var(--color-white);
  border-bottom: 1px solid #ececec;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  display: flex;
  margin-left: 93px;
}
.link {
  position: relative;
  padding: 32px 0;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link__static {
  color: var(--color-black);
}

.link__active {
  color: var(--color-blue);
}
.link__active-item::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-blue);
  border-radius: 2px;
  bottom: -1px;
}
.link a:hover,
.link a:focus {
  color: var(--color-blue);
}

.link:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
}

.header-contacts li a {
  display: flex;
  align-items: center;
  color: var(--color-gray);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-style: normal;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts li a svg {
  margin-right: 10px;
  fill: var(--color-gray);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts li a:hover svg,
.header-contacts li a:focus svg {
  fill: var(--color-blue);
}

/*header*/

/*portfolio*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-navigation__button:not(:last-child) {
  margin-right: 8px;
}

.portfolio-navigation__button .button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;
  color: var(--color-black);
  background-color: var(--color-blue-gray);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-navigation__button .button:hover,
.portfolio-navigation__button .button:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0 3px 6px var(--color-white-gray);
  outline: none;
}

.portfolio-table {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-table li {
  margin: 15px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-table li:hover,
.portfolio-table li a:focus {
  box-shadow: 2px 2px 5px var(--color-white-gray);
}

.position-wrap {
  position: relative;
  overflow: hidden;
}
.description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-table li a:hover .position-wrap .description,
.portfolio-table li a:focus .position-wrap .description {
  transform: translateY(0);
  opacity: 1;
}

.description p {
  color: var(--color-white);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px;
}

.portfolio-table-item,
.portfolio-table-item img {
  display: block;
}
.portfolio-table-item-text-blok {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-table-item-text-blok__title {
  color: var(--color-black);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio-table-item-text-blok__text {
  color: var(--color-gray);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin-top: 4px;
}
/*portfolio*/

/*footer*/
.footer {
  background-color: var(--color-night);
  padding: 60px 0;
}
.contact-wrapper {
  margin-right: 70px;
}
.footer-wrapper {
  display: flex;
}
.address {
  margin-top: 20px;
}
.footer-list li:not(:last-child) {
  margin-bottom: 9px;
}
.footer-list__street {
  color: var(--color-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer-list__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
}

.footer__social ul {
  display: flex;
  margin-right: 93px;
}

.footer__social ul li a {
  display: block;
  border-radius: 50%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social ul li a:hover,
.footer__social ul li a:focus {
  background-color: var(--color-blue);
  fill: var(--color-white);
}

.footer__social ul li svg {
  fill: var(--color-white);
}

.footer__social ul li:not(:last-child) {
  margin-right: 10px;
}
.footer__social ul svg {
  display: block;
  width: 20px;
  height: 20px;
}

.footer-button {
  position: relative;
  color: var(--color-white);
  background-color: var(--color-blue);
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  padding: 10px 62px 10px 29px;
  margin: 0;
  border: 0px;
  border-radius: 4px;
  outline: none;
}

.footer-button::after {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/svg/icon_send.svg);
  background-size: contain;
  margin-left: 10px;
}

.footer-input {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  margin-right: 12px;
  background-color: var(--color-night);
  color: var(--color-white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
}

.footer-input::placeholder {
  text-transform: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
}

.footer-label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--color-white);
}
/*footer*/
