.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
}

.modal .close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;

  background-color: var(--color-white);
}
.modal-form {
  padding: 0 40px 40px 40px;
}

.close-button {
  outline: none;
}
.close-button svg {
  border: 2px solid var(--color-white-gray);
  border-radius: 50%;
  fill: var(--color-black);
}

.close-button:hover svg,
.close-button:hover svg {
  fill: var(--color-blue);
}

.modal-title {
  font-weight: 700;
  padding-top: 40px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-field-checkbox {
  display: flex;
  flex-direction: row;
}

.form-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-gray);
  margin-bottom: 4px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  outline: none;
}

.form-input:focus,
.form-comments:focus {
  border: 1px solid var(--color-blue);
}

.form-input:focus + .form-icon {
  fill: var(--color-blue);
}

.form-icon {
  position: absolute;
  top: 27px;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: var(--color-black);
}

.form-comments {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
}

.form-comments::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-label-checkbox {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-gray);
  letter-spacing: 0.03em;
  margin-left: 7px;
}

.checkbox-link {
  color: var(--color-blue);
  border-bottom: 1px solid var(--color-blue);
}

.submit-button {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*main*/

/*features*/

/*features*/

/*occupation*/

/*occupation*/

/*team*/

/*team*/

/*customers*/
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
  margin-top: 50px;
}

.customers-list li,
.customers-list li svg {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid var(--color-white-gray);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list li a:hover svg,
.customers-list li a:focus svg {
  fill: var(--color-blue);
}

.customers-list li a:focus,
.customers-list li a:hover {
  border: 1px solid var(--color-blue);
}

.customers-list li:not(:last-child) {
  margin-right: 30px;
}

/*customers*/
/*main*/

/*footer*/
.footer {
  background-color: var(--color-night);
  padding: 60px 0;
}
.contact-wrapper {
  margin-right: 70px;
}
.footer-wrapper {
  display: flex;
}
.address {
  margin-top: 20px;
}
.footer-list li:not(:last-child) {
  margin-bottom: 9px;
}
.footer-list__street {
  color: var(--color-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer-list__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
}

.footer__social ul {
  display: flex;
  margin-right: 93px;
}

.footer__social ul li a {
  display: block;
  border-radius: 50%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social ul li a:hover,
.footer__social ul li a:focus {
  background-color: var(--color-blue);
  fill: var(--color-white);
}

.footer__social ul li svg {
  fill: var(--color-white);
}

.footer__social ul li:not(:last-child) {
  margin-right: 10px;
}
.footer__social ul svg {
  display: block;
  width: 20px;
  height: 20px;
}

.footer-button {
  position: relative;
  color: var(--color-white);
  background-color: var(--color-blue);
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  padding: 10px 62px 10px 29px;
  margin: 0;
  border: 0px;
  border-radius: 4px;
  outline: none;
}

.footer-button::after {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/svg/icon_send.svg);
  background-size: contain;
  margin-left: 10px;
}

.footer-input {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  margin-right: 12px;
  background-color: var(--color-night);
  color: var(--color-white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
}

.footer-input::placeholder {
  text-transform: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
}

.footer-label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--color-white);
}
/*footer*/
